html, body {
	margin: 0;
	padding: 0; 
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	} 

.container {
	max-width: 940px; 
	margin: 0 auto;
	} 

/* Header */ 
.header {
	padding: 30px 0 80px;

	} 

.header img {
	width: 200px;
}

.logo {
	display: block;
	margin: 30px auto;
	margin-bottom: 20px;
}

.header h1 {
	font-size: 18px;
	text-align: center;
	line-height: 0.2em;
	margin-top: 30px
	} 

.header h1 span {
	color: red; 
	} 

.header h2 {
	font-size: 10px;
	text-align: center;	
	}


.nav {
	margin-top: 30px;
	border-bottom: 1px solid #aaaaaa;
	text-align: center;
}



.nav>ul {
	z-index: 1000;
	background-color: white;
	display: inline-block;
	text-align: center;
	padding: 0px;
	/*margin: 0 auto;*/
}
.nav li {
	display: inline-block;
	background-color: #fff;

}

.nav li a {
	color: #aaaaaa; 
	margin-top: 40px;
	margin-right: 0;
	margin-left: 0;
	padding: 5px 20px;
	background-color: #fff;
	border: 0px;

	} 


.nav li a:hover {
	text-decoration: none;
    /*background-color: #eee;*/
    color: black;
    border-bottom: 1.5px solid red;
}



.nav li a.activeLink {
	color: black;
	border-bottom: 1.5px solid red;
}

.nav li a.activeLink:hover {
	color: black;
	background-color: #eee;
	border-bottom: 1.5px solid red;
}

.page-divider {
	position: relative;
	margin-top: -20px;
}

/* Jumbotron */ 
.jumbotron {
	background: url(../img/about01.jpg) no-repeat center center;
	background-size: cover;
	margin-bottom: 0;
	} 

.jumbotron h2 {
	font-size: 50px; 
	margin-bottom: 150px;
	color: #b20215; 
	} 

.jumbotron h2 span {
	color:#fff; 
	} 

.jumbotron p {
	text-shadow: 0 0; 
	font-size: 16px; 
	color: #666; 
	margin:30px; 
	} 

/* Banner b20215*/ 
.banner {
	background-color: #fff; 
	color: #666; 
	padding: 20px 40px; 
	text-align: left;
	} 

.banner h2 span {
	color: black;
}

.banner img {
	width: 450px;
	padding: 20px 50px;
	margin-right: auto;
	margin-left: auto;
}

/* Image section */ 
.image-section h2 {
	width: 300px; 
	margin: 200px auto; 
	font-size: 24px; 
	padding: 5px; } 

.image-section {
	position:relative; 
	top:100px; 
	height: 800px; 
	color: #fff; 
	} 

.image-section h2 {
	margin-bottom: 40px; 
	} 

.wrapper {
	margin-top: 80px; 
	margin-left: 600px; 
	} 

.btn {
	border-radius:0; 
	margin-top: 40px; 
	background-color:#ffc200; 
	padding: 10px; 
	color: #000; 
	font-size: 14px; 
	width:200px; 
	} 

/* Cards */ 
.cards {
	background:#000; 
	padding: 80px 0; 
	}

.cards h2 {
	margin: 20px 0 60px 0; 
	text-align: center; 
	} 

.cards img {
	margin-bottom: 25px; 
	} 

/* Footer */ 
.footer {
	padding: 20px 0px;
	color: #fff; 
	margin: 0 auto 0;
	width: 100%
	}

.page {
	border-top: 1px solid #aaa;
}

.footer .col-md-4 {
	padding-left: 0;
	padding-right: 0;
}



.icon {
	display: inline-block;
	float: right;
}

.footer h3 {
	font-size: 20px; 
	}

.footer img {
	width: 50px; 
	margin:40px 0; 
	} 

.footer p {
	font-size:12px; 
	margin-bottom: 0; 
	color: #b20215;
	padding-top: 50px;
	} 

@media (max-width: 992px) {
 .col-md-4 { 
 	margin: 0 auto 0; 
 	text-align: center; 
 	width: 100%; 
 	} 
 .cards img { 
 	width: 60%; 
 	} 
} 



@media (max-width: 500px) { 
	.header h1, h2 { 
		text-align: center; 
	} 

	.col-md-8 { 
 	margin: 0 auto 0; 
 	text-align: center; 
 	width: 100%; 
 	} 

 	.col-md-4 { 
 	margin: 0 auto 0; 
 	text-align: center; 
 	width: 100%; 
 	} 

	.nav li { 
		text-align: center; 
		width: 100%; 
		margin: 10px 0;
	} 

	.banner img {
		width: 100%;
	}
	.cards img { 
		width: 100%; 
	} 

	.footer img {
	width: 40px;
}
}


@media (max-width: 300px) { 
	.header h1, h2 { 
		text-align: center; 
	} 

	.col-md-8 { 
 	margin: 0 auto 0; 
 	text-align: center; 
 	width: 100%; 
 	} 

 	.col-md-4 { 
 	margin: 0 auto 0; 
 	text-align: center; 
 	width: 100%; 
 	} 
 	
	.nav li { 
		text-align: center; 
		width: 100%; 
		margin: 10px 0;
	} 

	.banner img {
		width: 100%;
	}
	.cards img { 
		width: 100%; 
	} 

	.footer img {
	width: 40px;
}
}


